<div class="workspace-create-container">
    <mat-stepper linear [orientation]="'horizontal'">
        <mat-step [stepControl]="basicInfoFormGroup">

            <ng-template matStepLabel>Basic Info</ng-template>
            <ng-template matStepContent>

                <dh-cc-basic-info-step [formGroup]="basicInfoFormGroup"></dh-cc-basic-info-step>

            </ng-template>

        </mat-step>

        <mat-step [stepControl]="classFormGroup">

            <ng-template matStepLabel>Class</ng-template>
            <ng-template matStepContent>
                
                <dh-cc-class-step [formGroup]="classFormGroup"></dh-cc-class-step>

            </ng-template>

        </mat-step>

        <mat-step [stepControl]="foundationFormGroup">

            <ng-template matStepLabel>Foundation</ng-template>
            <ng-template matStepContent>
                
                <dh-cc-subclass-step [formGroup]="foundationFormGroup" [characterClass]="getSelectedClass()"></dh-cc-subclass-step>

            </ng-template>

        </mat-step>
    </mat-stepper>
</div>