.items-selection-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    row-gap: 16px;
    justify-content: center;
}

.item-container {
    cursor: pointer;
    flex-basis: 30%;
    filter: grayscale(1);
    transition: filter .23s ease-in-out;

    &:not(.selected):hover {
        filter: grayscale(50%);
    }

    &.selected {
        filter: grayscale(0);
        transform: scale(1);
	    animation: pulse 1s infinite;
        z-index: 5;
    }

    .selection-item {
        max-width: 100%;
        height: auto;
    }
}

@keyframes pulse {
	0% {
		transform: scale(1);
	}

	70% {
		transform: scale(1.03);
	}

	100% {
		transform: scale(1);
	}
}