<div class="step-container">

    <div class="form-container">
        @if (foundations$ | async; as foundations) {
        <dh-cc-item-selection assetDir="/assets/images/foundations" [items]="foundations" (selectedItemEvent)="selectFoundation($event)"></dh-cc-item-selection>
        }
        @else {
        <dh-cc-loading></dh-cc-loading>
        }
    </div>

    <div class="step-footer">
        <mat-divider></mat-divider>
        <button mat-button matStepperPrevious>Previous</button>
        <button mat-button matStepperNext>Next</button>
    </div>

</div>